/* ======= Reset & Container ======= */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* ======= Sidebar ======= */
.sidebar {
  width: 250px;
  background-color: #1d2671;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 20px;
  height: 100%;
  overflow-y: auto;
}

.sidebar a,
.menu-item {
  color: #ffffff;
  text-decoration: none;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-item {
  justify-content: space-between;
}

.toggle-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  background-color: transparent;
  margin-right: 10px;
}

.profile-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.ai-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.help-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.home-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.sub-menu {
  display: none;
  flex-direction: column;
  background-color: #1d2671;
  padding-left: 20px;
}

.sub-menu.active {
  display: flex;
}

/* ======= Main Content ======= */
.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #ffffff;
  padding: 20px;
  color: black;
}

header {
  text-align: left;
  margin-top: 0;
  margin-left: 10px;
}

header h1 {
  color: #1d2671;
  font-size: 2.5em;
  margin-bottom: 10px;
}

header h2 {
  color: #2c3e50;
  font-size: 1.8em;
  margin-bottom: 20px;
}

header p {
  color: #000000;
  margin-bottom: 20px;
}

/* ======= Form ======= */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
  color: #2c3e50;
}

select,
input[type="number"] {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #000000;
  border-radius: 5px;
}

/* ======= Produto Lista ======= */
#produtosLista {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
}

#produtosLista ul {
  list-style: none;
  padding: 0;
}

#produtosLista li {
  padding: 5px 0;
}

/* ======= Buttons ======= */
button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

button:hover {
  background-color: #1d2671;
}

.submit-container {
  display: flex;
  justify-content: flex-end;
}

/* ======= Footer ======= */
footer {
  width: 100%;
  background-color: #ecf0f1;
  background-color: #1d2671;
  text-align: center;
  padding: 15px 0;
}
